<div class="container animate__animated animate__fadeInRight animate_faster">
  <div class="row p-3">
    <div class="">
      <div class="col">
        <h3><b>Práctica 2 - Redes de Computadoras 2</b></h3>
        <hr class="text-light-gray">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Integrantes del grupo 4:
        </p>
      </div>
    </div>
    <div class="row px-5">
      <div class="col">
        <table class="table animate__animated animate__flipInX animate__slow">
          <thead class="bg-dark text-light">
            <tr>
              <th scope="col">Carnet</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">201700988</th>
              <td>Luis Fernando Arana Arias</td>
            </tr>
            <tr>
              <th scope="row">201700350</th>
              <td>Fredy Estuardo Ramírez Moscoso</td>
            </tr>
            <tr>
              <th scope="row">201500332</th>
              <td>Gabriela Xiomara Raymundo Barrios</td>
            </tr>
            <tr>
              <th scope="row">102700584</th>
              <td>Pablo Andrés Roca Dominguez</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
