<div class="container animate__animated animate__fadeInRight animate_faster">
  <div class="row p-3">
    <div class="col">
      <h3><b>Reporte</b></h3>
      <hr class="text-light-gray">
    </div>
    <div class="row px-5">
      <div class="col border container rounded">
        <h5 class="px-2 pt-2">Información del reporte</h5>
        <hr class="text-light-gray">
        <div class="container">
          <div class="row">

            <div class="col">
              <div class="form-group pb-2 row">
                <label for="carnetInput" class="col-sm-3 col-form-label">Carnet:</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="carnetInput" placeholder="Ingresa tu carnet" #carnetInput disabled>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group pb-2 row">
                <label for="nombreInput" class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nombreInput" placeholder="Ingresa tu nombre" #nombreInput disabled>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group pb-2 row">
                <label for="cursoInput" class="col-sm-3 col-form-label">Curso:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cursoInput" placeholder="Ingresa el curso" #cursoInput disabled>
                </div>
              </div>
            </div>
          </div>

          <hr class="text-light-gray">
          <hr class="text-light-gray">

          <div class="row">
            <div class="col">
              <div class="form-group pb-3">
                <label for="cuerpoInput" class="col-sm3 col-form-label">Cuerpo del reporte:</label>
                <textarea class="form-control rounded" id="cuerpoInput" rows="10" placeholder="Ingresa el contenido de tu reporte" #cuerpoInput disabled></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group pb-3 row">
                <label for="fechaLabel" class="col-sm-3 col-form-label">Fecha:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="fechaLabel" placeholder="Fecha" #fechaLabel disabled>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group pb-3 row">
                <label for="ingresadoLabel" class="col-sm-3 col-form-label">Ingresado:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="ingresadoLabel" placeholder="Servidor ingresado" #ingresadoLabel disabled>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group pb-3 row">
                <label for="extraidoLabel" class="col-sm-3 col-form-label">Extraido:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="extraidoLabel" placeholder="Servidor extraido" #extraidoLabel disabled>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
