<div class="bg-dark border-right p-3 animate__animated animate__fadeInLeft animate_faster" id="sidebar">
  <h6 class="text-light">Reportes Prácticas Finales</h6>
  <hr class="text-white">
  <div class="list-group list-reset">
    <a routerLink="home" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Inicio</a>
    <a routerLink="send" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Enviar reporte</a>
    <a routerLink="list" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Ver todos los reportes</a>
    <a routerLink="marcar" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Marcar Asistencia</a>
    <a routerLink="asistencia" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Ver Asistencia</a>
    <a routerLink="eventos" routerLinkActive="bg-dark text-light" class="list-group-item list-group-item-action">Ver Eventos asistidos</a>
  </div>
</div>
